{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <title>Inicio de Django</title>
</head>
<body>
    <div class="container mt-5 border border-success ">
        <h1 class="text-center">
            {{message }}
        </h1>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" >
                    
                    <div class="card-body">
                      <h5 class="card-title">Card Uno</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6">
                <div class="card" >
                    
                    <div class="card-body">
                      <h5 class="card-title">Card Dos</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <script src="{% static 'libs/ootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>